thesis.Rproj
out/
code/sporulation_ability/slurm-11733.out
code/sporulation_ability/map.out
data/kit_comparison/mothur/
data/etoh_h_comparison/mothur/
data/PStrain/
data/sporulation_ability/SGB
data/sporulation_ability/metagenomes/data/
data/sporulation_ability/metagenomes/index/
/home/nlzoh.si/ursmik1/projects/thesis/data/genomes-all_metadata.tsv
.Rproj.user
